<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>P&G Tools-About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">
	<link rel="icon" type="image/png" href="images/logo.jpeg">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    
	<!-- Swiper CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
	<style>

		.active{
			border-bottom: 2px solid black;
		}
		
		.post-entry {
		  display: flex;
		  flex-direction: column;
		  height: 100%;
		  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
		  border-radius: 0.5rem;
		  overflow: hidden;
		}

		.fixed-image {
		  height: 250px;
		  overflow: hidden;
		}

		.fixed-image img {
		  width: 100%;
		  height: 100%;
		  object-fit: cover;
		}

		.text {
		  background-color: #ffc107; /* Bootstrap warning */
		  padding: 1rem;
		  flex-grow: 1;
		  display: flex;
		  flex-direction: column;
		  justify-content: flex-start;
		}

		.text h5, .text h4 {
		  margin-bottom: 0.5rem;
		  font-size: 1.1rem;
		}

		.text p {
		  margin: 0;
		  font-size: 0.95rem;
		  line-height: 1.5;
		  flex-grow: 1;
		}	  
	  .heading{
		font-size: 4rem;
	  }
	  @media only screen and (max-width: 768px) {

		.heading{
			font-size: 2rem;
		}
	  }
	  
	</style>
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
	<div class="site-navbar-wrap bg-white">
	  <div class="site-navbar bg-light">
	    <div class="container py-1">
	      <div class="row align-items-center">
	        <div class="col-2">
	          <h2 class="mb-0 site-logo">
				<a href="/">				
					<img src="images/logo.jpeg" class="text-start" width="90px" height="90px" alt="loading">					
				</a>
			  </h2>
	        </div>
	        <div class="col-10">
	          <nav class="site-navigation text-right" role="navigation">
	            <div class="container">
	              <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

	              <ul class="site-menu js-clone-nav d-none d-lg-block">
	                <!--<li class="has-children active">-->
					<li class="p-0">
	                  <a href="/" style="font-weight: 600;">Home</a>
	                </li>
	                <li class="p-0 active">
	                  <a class="" href="/about" style="font-weight: 600;">About</a>
	                </li>
					<li class="p-0"><a href="/products" style="font-weight: 600;">Products</a></li>
					<li class="p-0"><a href="/customers" style="font-weight: 600;">Customers</a></li>
					<li class="p-0"><a href="/gallery" style="font-weight: 600;">Gallary</a></li>
	                <li class="p-0"><a href="/contact" style="font-weight: 600;">Contact</a></li>
	              </ul>
	            </div>
	          </nav>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
  

	<div class="site-blocks-cover inner-page overlay" style="background-image: url(images/aboutBanner.jpg); background-position: center !important; background-size: cover !important;  min-height: 200px !important; height: 350px !important;" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center" style="min-height: 200px !important; height: 350px !important;">
          <div class="col-md-7 text-center">
            <h2 class="text-light heading text-uppercase">Our <strong>Company</strong></h2>
          </div>
        </div>
      </div>
    </div>

	
	<div class="site-section p-0 my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2" style="background-image: url('images/P&G-AboutUs.png');" data-aos="fade-up"></div>
          <div class="col-md-6 pr-md-5 order-md-1">
            <h2 class="display-4 line-height-xs text-uppercase mb-2" style="color: #bf5f00 !important; font-weight: 600;">About Us</h2>
			<p class="mb-0 p-0" style="font-size: 17px; line-height: 24px;">
				<b class="text-black">P & G TOOLS (INDIA) PVT. LTD.</b> was established in 2023, specializing in tool 
				regrinding, recoating, and reconditioning services. We serve leading industry names 
				such as ThyssenKrupp India, Biorod Medisys, Reliable Autotech, Premier Ltd., 
				Force Moters, Jay Hind Industries, FORBES MARSHALL.
			</p>
			<p class="mb-0 p-0" style="font-size: 17px; line-height: 24px;">
				Our skilled team of over six professionals focuses on manufacturing special profile 
				inserts, solid carbide tools, and reconditioning used inserts with precision.
			</p>
			<p class="mb-0 p-0" style="font-size: 17px; line-height: 24px;">
				We are committed to delivering high-quality results using the latest technologies. 
				Our emphasis on quality, accuracy, and customer satisfaction has helped us build a 
				strong reputation in the industry.
			</p>
			<p class="" style="font-size: 17px; line-height: 24px;">
				At P & G TOOLS, we understand the unique requirements of our clients and strive to 
				deliver customized tooling solutions with consistent quality — all at the best value.
			</p>
            <p><a href="/contact" class="btn btn-outline-primary btn-sm rounded-0 p-2 px-4">Get in Touch</a></p>
          </div>
        </div>
      </div>
    </div>
	
	<div class="mt-4" th:replace="~{index::ourSpecialtySection}"></div>

	<div class="container mt-5">
	  <h2 class="mb-4 text-center text-uppercase display-4" style="color: #bf5f00 !important; font-weight: 600;">
	     Mission, Vision & Our Service
	  </h2>
	  <div class="row">		
		<div class="col-md-6 col-lg-4 mb-4" data-aos="zoom-in" data-aos-duration="1000">
		  <div class="post-entry">
		    <div class="fixed-image">
		      <img src="images/ourMissionImg.avif" alt="Mission Image" />
		    </div>
		    <div class="text text-center">
		      <h4 class="text-uppercase font-weight-bold">MISSION</h4>
		      <p style="font-size: 17px;">
		        To be the leader in latest high technology machine tool industry. Be the one most admired by employees and customers to provide the best product with best quality.
		      </p>
		    </div>
		  </div>
		</div>

		<div class="col-md-6 col-lg-4 mb-4" data-aos="zoom-in" data-aos-duration="1000">
		  <div class="post-entry">
		    <div class="fixed-image">
		      <img th:src="@{/images/ourVisionImg.jpg}" alt="Vision Image" />
		    </div>
		    <div class="text text-center">
		      <h4 class="text-uppercase font-weight-bold">Vision</h4>
		      <p style="font-size: 17px;">
				To be the most preferable company for manufacturing and supplying
			    various cutting tools with the best technical standards.
		      </p>
		    </div>
		  </div>
		</div>

		<div class="col-md-6 col-lg-4 mb-4" data-aos="zoom-in" data-aos-duration="1000">
		  <div class="post-entry">
		    <div class="fixed-image">
			<img th:src="@{/images/serviceAndSupportImg.jpeg}" alt="Service Image" />
		    </div>
		    <div class="text text-center">
		      <h4 class="text-uppercase font-weight-bold">OUR SERVICE & SUPPORT</h4>
		      <p style="font-size: 17px;">
				We have a strong, eligible support team committed to assisting until
				completion. We also provide on-demand tooling and technical support.
		      </p>
		    </div>
		  </div>
		</div>		
	  </div>
	</div>

	<div class="mt-4" th:replace="~{index::ourDealersSection}"></div>

	<div class="container-fluid" th:replace="~{index::footer}"></div>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

  </body>
</html>