<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>P&G Tools-Content</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">
	<link rel="icon" type="image/png" href="images/logo.jpeg">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
	<style>

		.active{
			border-bottom: 2px solid black;
		}
		
	  .fixed-image {
	    height: 250px;
	    overflow: hidden;
	  }

	  .fixed-image img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	  }

	  .post-entry {
	    display: flex;
	    flex-direction: column;
	    height: 100%;
	  }

	  .text {
	    margin-top: auto;
	  }
	  
	  .heading{
		font-size: 4rem;
	  }
	  @media only screen and (max-width: 768px) {

		.heading{
			font-size: 2rem;
		}
	  }
	  
	</style>
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
	<div class="site-navbar-wrap bg-white">
	  <div class="site-navbar bg-light">
	    <div class="container py-1">
	      <div class="row align-items-center">
	        <div class="col-2">
	          <h2 class="mb-0 site-logo">
				<a href="/">				
					<img src="images/logo.jpeg" class="text-start" width="90px" height="90px" alt="loading">					
				</a>
			  </h2>
	        </div>
	        <div class="col-10">
	          <nav class="site-navigation text-right" role="navigation">
	            <div class="container">
	              <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

	              <ul class="site-menu js-clone-nav d-none d-lg-block">
	                <!--<li class="has-children active">-->
					<li class="p-0">
	                  <a href="/" style="font-weight: 600;">Home</a>
	                </li>
	                <li class="p-0">
	                  <a class="" href="/about" style="font-weight: 600;">About</a>
	                </li>
					<li class="p-0"><a href="/products" style="font-weight: 600;">Products</a></li>
					<li class="p-0"><a href="/customers" style="font-weight: 600;">Customers</a></li>
					<li class="p-0"><a href="/gallery" style="font-weight: 600;">Gallary</a></li>
	                <li class="p-0 active"><a href="/contact" style="font-weight: 600;">Contact</a></li>
	              </ul>
	            </div>
	          </nav>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="site-blocks-cover inner-page overlay" style="background-image: url(images/contactBannerImg.avif); background-position: center !important; background-size: cover !important;  min-height: 200px !important; height: 350px !important;" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center" style="min-height: 200px !important; height: 350px !important;">
          <div class="col-md-7 text-center">
            <h2 class="text-light heading text-uppercase">Get In Touch <strong>With Us</strong></h2>
          </div>
        </div>
      </div>
    </div>
	
	<div class="site-section container py-5">

		<div class="row mb-5 justify-content-center">
		  <div class="col-md-12 text-center">
		    <h2 class="display-4" style="color: #bf5f00 !important; font-weight: 600;">
				P & G TOOLS ( INDIA ) PVT.LTD.
			</h2>
		  </div>
		</div>
		<div class="row">
			<div class="col-md-6 d-flex justify-content-center text-center" data-aos="fade-down" data-aos-duration="1000">
				<div class="border border-4 rounded-0 p-2">
					<div class="mb-3">
						<img src="images/GaneshDirector.jpg" alt="Image" class="img-fluid" style="height: 200px;">
					</div>
					<div class="mb-1">
						<span class="text-danger mb-4 font-weight-bold text-uppercase" style="letter-spacing:3px;">Director</span>
					</div>
					<h6 class="h6 text-black mb-3 font-weight-bold">Ganesh Mankar</h6>
				</div>
			</div>
			<div class="col-md-6 d-flex justify-content-center text-center" data-aos="fade-down" data-aos-duration="1000">
				<div class="border border-4 rounded-0 p-2">
					<div class="mb-3">
						<img src="images/madhuriDirector.jpg" alt="Image" class="img-fluid" style="height: 200px;">
					</div>
					<div class="mb-1">	
						<span class="text-danger font-weight-bold text-uppercase" style="letter-spacing:3px;">Director</span>
					</div>
					<h6 class="h6 text-black mb-3 font-weight-bold">Madhuri Mankar</h6>
				</div>
			</div>
		</div>
	</div>	
		
    <div class="site-section py-5 bg-light">
      <div class="container">
        <div class="row">       
          <div class="col-md-12 col-lg-8 mb-3 mb-lg-0">          
            <form action="#" id="contactForm" class="px-lg-5 bg-white">
				<h3 style="color: #bf5f00 !important; font-weight: 600;">Contact For Enquiry</h3>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullName">Full Name</label>
                  <input type="text" id="fullName" class="form-control" placeholder="Full Name">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Email Address" required>
                </div>
              </div>
			  <div class="row form-group">
			    <div class="col-md-12">
			      <label class="font-weight-bold" for="phone">Mobile No.</label>
			      <!--<input type="number" max="10" id="phone" class="form-control" placeholder="Mobile Number" required>-->
				  <input type="text" id="phone" class="form-control" placeholder="Mobile Number" maxlength="10" required>
				  <small class="text-danger" id="phoneError" style="display: none;">Please enter a valid 10-digit mobile number.</small>
			    </div>
			  </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Say hello to us" required></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send" class="btn btn-primary">
                </div>
              </div>  
            </form>
          </div>

          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Contact Info</h3>
			  <p class="mb-0 font-weight-bold">Phone</p>
			  <p class="mb-4"><a href="tel:+919822390608">+91 9822390608</a></p>
			  
			  <p class="mb-0 font-weight-bold">Email Address</p>
			   <p class="m-0"><a href="mailto:pgtoolsindiapvtltd@gmail.com">pgtoolsindiapvtltd@gmail.com</a></p>
			  <p class="mb-4"><a href="mailto:ganesh@pgtoolsindiapvtltd.com">ganesh@pgtoolsindiapvtltd.com</a></p>
			  
			  
              <p class="mb-0 font-weight-bold">Head Ofiice :</p>
              <p class="mb-4"><i class="fa fa-map-marker-alt mr-2 text-warning"></i> Raga home, D-wing, Flat no. 1002, Newale Vasti, Chikhali, Pune-411 026.</p>

			  <p class="mb-0 font-weight-bold">Work :</p>
			  <p class="mb-4"><i class="fa fa-map-marker-alt mr-2 text-warning"></i> PAP 95A, J-Block, Near Farmaish Hotel, MIDC, Bhosari, Pune 411 026.</p>

              

            </div>
          </div>
        </div>
      </div>
    </div>

	<div class="container-fluid" th:replace="~{index::footer}"></div>
    
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="js/contacts.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
  </body>
</html>