<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>P&G Tools-Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">
	<link rel="icon" type="image/png" href="images/logo.jpeg">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
	
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    
    
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
	<style>

		.active{
			border-bottom: 2px solid black;
		}
		
	  .fixed-image {
	    height: 250px;
	    overflow: hidden;
	  }

	  .fixed-image img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	  }

	  .post-entry {
	    display: flex;
	    flex-direction: column;
	    height: 100%;
	  }

	  .text {
	    margin-top: auto;
	  }
	  
	  .heading{
		font-size: 4rem;
	  }
	  @media only screen and (max-width: 768px) {

		.heading{
			font-size: 2rem;
		}
	  }
	  
	</style>
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
	<div class="site-navbar-wrap bg-white">
      <div class="site-navbar bg-light">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-2">
              <h2 class="mb-0 site-logo">
				<a href="/">				
					<img src="images/logo.jpeg" class="text-start" width="90px" height="90px" alt="loading">					
				</a>
			  </h2>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu js-clone-nav d-none d-lg-block">
					<li class="p-0">
                      <a href="/" style="font-weight: 600;">Home</a>
                    </li>
                    <li class="p-0">
                      <a class="" href="/about" style="font-weight: 600;">About</a>
                    </li>
					<li class="p-0"><a href="/products" style="font-weight: 600;">Products</a></li>
					<li class="p-0"><a href="/customers" style="font-weight: 600;">Customers</a></li>
					<li class="p-0 active"><a href="/gallery" style="font-weight: 600;">Gallary</a></li>
                    <li class="p-0"><a href="/contact" style="font-weight: 600;">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
	
	<div class="site-blocks-cover inner-page overlay" style="background-image: url(images/GalleryBannerImage.jpg); background-position: center !important; background-size: cover !important;  min-height: 200px !important; height: 350px !important;" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center" style="min-height: 200px !important; height: 350px !important;">
          <div class="col-md-7 text-center">
            <h2 class="text-light heading text-uppercase">Our <strong>Gallery</strong></h2>
          </div>
        </div>
      </div>
    </div>
	
	
	
	<div class="site-section section-about">
	     <div class="container">
	       <div class="row mb-5 justify-content-center">
	         <div class="col-md-12 text-center">
	           <h2 class="display-4" style="color: #bf5f00 !important; font-weight: 600;">
					INDUSTRIES THAT WE WORK
				</h2>
	         </div>
	       </div>
	       <div class="row">			
			<div class="col-md-6 col-lg-4 mb-4" th:each="inductrie : ${inductries}">
			  <div class="post-entry bg-white shadow rounded-2">
			    <div class="fixed-image image">
			      <img th:src="@{'/images/InductriesImages/' + ${inductrie.image}}" alt="Image" />
			    </div>
			    <div class="text p-2 rounded-0" style="background-color: #bf5f00  !important;">
			      <h2 class="h5 text-white text-center m-0">
			        <a class="text-white font-weight-bold text-center" href="#" th:text="${inductrie.name}">Name</a>
			      </h2>
			    </div>
			  </div>
			</div>
			
	       </div>		
	     </div>
	   </div>
	
	
	
	

    <!--<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="images/img_1.jpg" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Colorlib &bullet; Sep 25, 2018</small></span>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="images/img_2.jpg" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Colorlib &bullet; Sep 25, 2018</small></span>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="images/img_3.jpg" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Colorlib &bullet; Sep 25, 2018</small></span>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="images/img_4.jpg" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Colorlib &bullet; Sep 25, 2018</small></span>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="images/img_1.jpg" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Colorlib &bullet; Sep 25, 2018</small></span>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="images/img_2.jpg" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Colorlib &bullet; Sep 25, 2018</small></span>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->

	<div class="container-fluid" th:replace="~{index::footer}"></div>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>
</html>