.navbar-vertical .navbar-nav  .nav-item .nav-link {
  font-weight: 500;
  color: #0e0e0e !important;
  font-size: 15px !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link:hover{
	background-color: #2e2e32 !important;
	color: white !important;
}

/*Add product form*/
#productForm {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 1000;
}
/*Edit Product form*/
#editProductContainer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 1000;
}






